<% if @trip.errors.any? %>
  <ul class="errors">
    <% @trip.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

 <%= form_with model: @trip, class: "edit-trip" do |f| %>

   <p><%= "Edit this trip!" %></p>

    <%= f.label :rating%>
    <%= f.text_field :rating%>

    <%= f.label :cost%>
    <%= f.text_field :cost%>

   <%= f.submit "Edit trip", class: "trip-submit-btn" %>

 <% end %> 