<h1>Trip #<%= @trip.id %></h1>

<p>date: <%= @trip.date %></p>
<p>driver:<%= link_to Driver.find(@trip.driver_id).name %></p>
<p>passenger: <%= link_to Passenger.find(@trip.passenger_id).name %></p>
<% if @trip.cost != nil %>
    <p>price: $<%= (@trip.cost / 100.0).round(2) %></p>
<% else %>
    <p>price:</p>
<% end %>
<p>rating: <%= @trip.rating %></p>

<%= link_to "Edit this trip", edit_trip_path %>

<%= link_to 'Delete this trip', trip_path(@trip.id), method: :delete, data: {confirm: "Are you sure you want to delete this trip?"} %>
