<div class="left-card">
  <div class="additional">
    <div class="user"><h2><%= @passenger.name %></h2>
      <div class="user more-info">
        <h1>Account Info</h1><br>
        <div class="coords">
          <span>Total charged:</span>
          <span>$<%= @passenger.total_amount_charged %></span>
        </div>
        <div class="coords">
          <span>Telephone:</span>
          <span><%= @passenger.phone_num %></span>
        </div>
        <h1><%= image_tag "https://robohash.org/#{@passenger.id}.png?size=50x50" %></h1>
        <h1><%= link_to "Edit Info", edit_passenger_path %></h1>
        <h1><%= link_to "Delete this passenger", passenger_path(@passenger.id), method: :delete, data: {confirm: "Are you sure you want to delete this passenger?"} %></h1>
      </div>
    </div>
  </div>
</div>
<p>
<% if @passenger[:active == true && !@passenger.trips.any?] %>
<%= link_to "Delete Passenger", passenger_path(@passenger), method: :delete, data: { confirm: "are you sure you want to delete #{@passenger.name}"} %>
<% elsif @passenger[:active == true && !@passenger.trips.any?] %> 
<%= link_to "Deactivate Passenger", passenger_path(@passenger.id, {passenger: {active: false}}), method: :patch, data: { confirm: "Remove #{@passenger.name} from index?"} %>
<% else %>
PASSENGER INACTIVE -- RECORD ARCHIVED
<% end %>
</p>

<%= link_to "Request Ride", create_passenger_trip_path(@passenger), method: :post, class: "request" %>


<table class="table">
      <tr>
        <th>Trip ID</th>
        <th>Date</th>
        <th>Driver</th>
        <th>Price</th>
        <th>Rating</th>
      </tr>
      <tr>
      <% @passenger.trips.each do |trip| %>
        <td><%= link_to trip.id, trip_path(trip.id) %></td>
        <td><%= trip.date %></td>
        <td><%= link_to trip.driver.name, driver_path(trip.driver.id)%></td>
        <td>$ <%= (trip.cost.to_i/100.0).round(2) %></td>
        <td><%= trip.rating %></td>
      </tr>
      <% end %>
    </table>

<p>
    <%= link_to "Edit this passenger", edit_passenger_path %>
</p>
<%= link_to "Back to All Passengers", passengers_path %>

