<% if @driver.errors.any? %>
  <ul class="errors">
    <% @driver.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @driver do |f| %>

    <%= f.label :name %><br>
    <%= f.text_field :name %>
    <br>
    <br>
    <%= f.label :vin %><br>
    <%= f.text_field :vin %>

  <%= f.submit action_name %>

<% end %>