<h2>All Drivers</h2>
<%= will_paginate @drivers %>
<table class="table">
<tr>
<thead>
<th>Driver Photo</th>
<th>Name</th>
<th>Rating</th>
<th>Status</th>
</thead>
</tr>
<tr>
<% @drivers.all.each do |driver| %>
<td><%= image_tag "https://robohash.org/#{driver.id}.png?size=50x50" %></td>
<td><%= link_to driver[:name], driver_path(driver.id) %></td>
<td><%= driver.average_rating.round(2) %></td>
<td><%= driver.available %></td>
</tr>
<% end %>
</table>