<!DOCTYPE html>
<html>
  <head>
    <title>RideShareRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
<div class="grid-container">
<nav class="navbar">
<a href="#" class="logo">Rideshare App!</a>
  <ul class="menu">
    <li><a href="#work">Add Driver</a></li>
    <li><a href="#about">Add Passenger</a></li>
  </ul>
</nav>
<div class="content">
    <%= yield %>
</div>
</body>
</html>
